body {
    padding-top: 70px;
    padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
.theme-showcase .navbar .container {
    width: auto;
}

.table-container {
    width: 100%;
    overflow: auto;
    height: 600px;
}
.table-small {
    font-size: 0.9em;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 4px;
}
