<section ng-controller="ImportCtrl">
    <h3>Import</h3>
    <p>Please choose what to import</p>

    <form>
        <select name="importItem" id="importItem">
            <option value="{{item.value}}" ng-repeat="item in items">{{item.name}}</option>
        </select>
    </form>

    <ng-file-to-json result="obj" type-field="true"></ng-file-to-json>

    <div ng-if="result">
        <div class="table-container">
            <table class="table table-striped table-small table-bordered table-responsive">
                <tr>
                    <th ng-repeat="header in result.headers">{{ header }}</th>
                </tr>
                <tr ng-repeat="row in result.rows">
                    <td ng-repeat="column in row track by $index">{{ column }}</td>
                </tr>
            </table>
        </div>
    </div>

</section>

<script>

</script>
